@layer reset, header;

@layer reset {
    * {
        margin: 0;
        padding: 0;
    }
}

@layer header {
    header {
        width: 50%;
        text-align: center;
        padding-top: 50px;
    }

    ul {
        display: flex;
        list-style: none;
        border-bottom: 2px solid gray;
        gap: 25px;
        justify-content: right;
    }

    li > button {
        position: relative;
        background-color: transparent;
        font-size: 20px;
        border: 0;
        border-bottom: 2px solid transparent;
        top: 2px;
    }

    li > button:hover {
        border-bottom: 2px solid blue;
    }
}
